#root {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  background-color: #fffefa;
  margin: 0;
  padding: 0;
}

.pet-container {
  display: flex;
}
